body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    background: #fff;
}

navbar-brand {
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6, p, a {
    line-height: 24px;
}

h1 {
    font-size: 42px;
    margin-bottom: 12px;
    padding: 8px;
    font-weight: 700;
    letter-spacing: 2px;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-weight: 500;
}

div {
    overflow: hidden;
    padding: 8px;
}

.bg-bee {
    background: #eecc22 url(../img/bee2.png);
}

.rounded1 {
    border-radius: 8px;
    border: 1px solid #eee;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-12 {
    border: 0px solid #ccc;
    /*     box-shadow: 0 2px 4px 0 #eee;
    border-radius: 8px; */
    padding: 1.6rem;
}

#myBtn {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Фиксированное / липкое положение */
    bottom: 20px;
    /* Поместите кнопку в нижней части страницы */
    right: 30px;
    /* Разместить кнопку 30 пикселей от правого */
    z-index: 99;
    /* Убедитесь, что он не перекрывается */
    border: none;
    /* Удалить границы */
    outline: none;
    /* Удалить контур */
    background-color: #36f;
    /* Установка цвета фона */
    color: white;
    /* Цвет текста */
    cursor: pointer;
    /* Добавить указатель мыши при наведении */
    padding: 8px 24px;
    /* Немного отступов */
    border-radius: 32px;
    /* Округленные углы */
    font-size: 24px;
    /* Увеличить размер шрифта */
}

#myBtn:hover {
    background-color: #555;
    /* Добавить темно-серый фон при наведении курсора */
}